body{padding:0;margin:0;line-height:1.2;text-align:justify}
p{text-indent:2em;display:block;line-height:1.3;margin-top:0.6em;margin-bottom:0.6em}
div{margin:0;padding:0;line-height:1.2;text-align:justify}
h1{font-size:1.4em;line-height:1.2;margin-top:1em;margin-bottom:1.2em;font-weight:bold;text-align:center !important;color:#000000}

.cover{margin:0;padding:0;text-indent:0;text-align:center !important}

.makertitle{font-size:1.3em;text-indent:0;font-weight:bold;margin-top:0.5em;margin-bottom:0.5em}
.cutline{text-indent:0em;line-height:0;margin-top:0.3em;margin-bottom:0.3em}
.makerifm{text-indent:0em;line-height:1.2;margin-top:0.2em;margin-bottom:0.2em}
.psline{margin-top:1em;margin-bottom:0.7em}

.bold{font-weight:bold}

.in0{text-indent:0}
.center{text-align:center !important;text-indent:0}
.left{text-align:left !important;text-indent:0}
.right{text-align:right !important;text-indent:0}
.italic{font-style:italic}
.oblique{font-style:oblique}

.tdtop{vertical-align:top}
.tdbottom{vertical-align:bottom}
.tdmiddle{vertical-align:middle}

.titlet1{color:#000000;margin-top:1.5em;margin-bottom:1.5em;font-size:1.6em}
.titlet2{font-size:0.9em}
.titlet3{color:#000000;font-size:1.0em;margin-top:-0.5em}

.notetag{font-size:0.8em;vertical-align:super;font-weight:bold;color:#960014;text-decoration:none}
.po{font-size:0.9em;text-indent:-0.8em;padding:0em 0.1em 0.1em 1em;color:#960014}

#toctitle{color:#000000;margin-top:1.5em;margin-bottom:1.5em}
#toctable{margin-left:auto;margin-right:auto;page-break-inside:auto}
.tocidprefix{width:2.5em}
.tocitem{padding:3px 0px}
.tocitem a{text-decoration:none;color:#000000}
